div {
    /* padding: 10rem; */
    background-color: rgb(236, 236, 236);    
} 
.svgdiv {
    height: 50px;
    width: 80px;
}

.div2{
    padding:1rem;
    padding-top: 0rem;;
}

text {
    font-size: 32pt;
    font-family: Suwannaphum;
    font-weight: bold;

}

ol {
    font-size: 20pt;
    color: rgb(11, 67, 156);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ol bdi{
    color: rgb(212, 140, 7);
    
}
.div2 img{ 
    padding-top: 7rem;
    float: right;
    width: 560px;
    height: 450px;

}
.div1 bdi{
    font-size: 200px;
    float: right;
}
#author {
    font-size: 25pt;
    text-align: center;
    padding: 0px;
    color: green;
}
