.static{
    position: static;
    /* default position of each html element */
    top: 130px;
    left: 20px;
    bottom: 40px;
    width: 100%;
    height: 150px;
    background-color: coral;
    color: red;
    font-size: 20pt;
    font-weight: 800;
}

/* .relative{
    position: relative;
    top: 50px;
    left: 20px;
    right: 20px;
    bottom: 40px;
    width: 100%;
    height: 150px;
    background-color: darkgreen;
    color: rgb(255, 255, 255);
    font-size: 20pt;
    font-weight: 800;
} */

.fixed{
    position: fixed;
    top: 260px;
    right: 0px;
    width: 350px;
    height: auto;
    background-color: aqua;
    color: black;
    border: thin solid red;
    font-size: 18pt;
    font-weight: 800;
}

.relative{
    position: relative;
    top: 80px;
    left: 30px;
    right: 30px;
    width: 80%;
    height: 300px;
    background-color: darkgreen;
    color: rgb(255, 255, 255);
    font-size: 20pt;
    font-weight: 800;
}

.absolute{
    position: absolute;
    top: 60px;
    left: 90px;
    right: 5px;
    bottom: 40px;
    width: 70%;
    height: 150px;
    background-color: khaki;
    color: purple;
    font-size: 20pt;
    font-weight: 800;
}

.sticky{
    position: sticky;
    top:10px;
    left:100px;
    width: 70%;
    height: auto;
    background-color: limegreen;
    color: indigo;
    font-size: 18pt;
    font-weight: 800;
}