.div1{
    margin: 20px;
    width: 300px;
    height: 400px;
    background-color: limegreen;
    border: thin solid black;
    position: relative;
    /* top property is used to affect the vertical position of element */
    top:30px; /* div will is used to affect the vertically 30px from top */ 
    /* left property is used to affect the left edge of horizontal position of element */
    left:40px;

}
.div2{
    width: 300px;
    height: 400px;
    background-color: crimson;
    border: thin solid black;
    position: relative;
    top: 80px;
    left:120px;

}
div{
    position: relative;
    color: black;
}
img{
    max-width: 100%;
    height: 500px;
}
.text-left{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20pt;
}