div{
    width: 800px;
    height: auto;
    border: thick solid blue;
}
div img{
    margin: 5px;
    border: thin solid red;
}
#block img{
    display: block;
}
#inline{
    width: 300px;
}
#inline img{
    display: inline;
}
#tablecell img{
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
}

/* #inline_block img{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
} */